.upload-wrapper {
  position: relative;
  padding: 0;
}
.cropper-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  background-color: #eeeeee;
  height: 100%;
  z-index: 99;
}

.upload-header {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid var(--theme-text-color);
}

.upload-header h4 {
  font-size: 18px;
  font-weight: var(--thin);
}

.upload-close {
  position: absolute;
  top: 7px;
  right: 7px;
  z-index: 9999;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.upload-close svg {
  width: 20px;
  height: 20px;
}

.image-copprer {
  width: 100%;
  height: 100%;
  margin: 20px 0;
}

.upload-button {
  width: 100% !important;
}

.upload-btn {
  width: 100%;
  margin-top: 40px;
  background-color: var(--theme-color) !important;
  color: var(--theme-text-color) !important;
}

.preview-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 20px;
  overflow: hidden;
}

.img-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
