.login-wrapper {
  text-align: left;
}
.login-box {
  align-items: center;
  height: 100vh;
}

.login-title {
  text-align: center;
  width: 90%;
}

.login-title h3 {
  color: var(--heading-color);
  font-family: var(--third-font);
  font-size: 35px;
  font-weight: var(--bold);
  text-transform: capitalize;
  margin-bottom: 13px;
}

.login-avatar {
  width: 90%;
  text-align: center;
  margin-bottom: 30px;
}

.login-avatar img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  padding: 5px;
  object-fit: cover;
  border: 5px solid var(--theme-color);
}

.social-login {
  margin-top: 50px;
  width: 90%;
}

.google-login {
  display: flex;
  justify-content: center;
  align-items: center !important;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  cursor: pointer;
}

.google-logtex p {
  margin: 0 !important;
  padding: 20px;
  font-family: var(--secondary-font) !important;
  font-size: 18px !important;
  color: var(--heading-color) !important;
  font-weight: var(--semibold) !important;
}

.login-field {
  width: 90%;
  margin: 18px 0 !important;
}
.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
  color: var(--heading-color) !important;
  font-weight: var(--semibold) !important;
  font-size: 20px !important;
}

.password-field {
  position: relative;
}

.password-eye {
  position: absolute;
  top: 40px;
  left: 82%;
  cursor: pointer;
  transition: all linear 0.3s;
}
.password-eye:hover path {
  fill: black;
}
.password-eye:hover {
  transform: scale(120%);
}

.password-eye svg {
  width: 25px;
  height: 25px;
}

.password-eye path {
  fill: #d3d3d3;
  transition: all linear 0.5s;
}

.login-button {
  margin-top: 18px;
}

.submit-button {
  width: 90%;
  border-radius: 86px !important;
  background-color: var(--theme-color) !important;
  padding: 15px !important;
}

.signup-link {
  margin-top: 30px;
  text-align: center;
  width: 90%;
}

.signup-link p {
  font-size: 14px !important;
  font-family: var(--secondary-font);
  font-weight: var(--regular);
  color: var(--text-color);
}

.signup-link a {
  color: var(--link-color);
  font-weight: var(--bold);
}

.forgot-link {
  width: 90%;
  margin-top: 20px;
  text-align: center !important;
}

.forgot-link a {
  font-size: 14px !important;
  font-family: var(--secondary-font) !important;
  font-weight: var(--regular) !important;
  color: var(--link-color) !important;
}

.signin-img img {
  width: 100%;
}

.error-msg {
  color: var(--error-color) !important;
  font-size: 14px !important;
  margin: 0 !important;
  margin-top: -10px !important;
}
