.upload-wrapper {
  width: 100%;
  height: 620px;
  display: flex;
  background-color: #eeeeee;
  justify-content: center;
  align-items: center;
}

.upload {
  text-align: center;
  cursor: pointer;
}

.upload-icon {
  text-align: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-icon svg {
  width: 40px;
  height: 40px;
  fill: #333;
}

.upload-text {
  margin-top: 20px;
}
