.fixed-layout {
  width: 100%;
}

.chatbox-wrapper {
  width: 100% !important;
  height: 100vh;
  background-color: var(--white);
  padding: 20px;
  margin-top: 10px;
  box-sizing: border-box;
  overflow: hidden;
}

.coversation-empty-message {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coversation-empty-message svg {
  width: 100% !important;
}

.message-box {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.chat-user {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.user-profile-pic {
  position: relative;
}

.online-active {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #00ff75;
  border: 3px solid var(--white);
  border-radius: 50%;
  bottom: 4px;
  right: 4px;
  box-shadow: 5px 6px 6px -2px rgba(0, 0, 0, 0.25);
}

.offline-active {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #ddd;
  border: 3px solid var(--white);
  border-radius: 50%;
  bottom: 4px;
  right: 4px;
  box-shadow: 5px 6px 6px -2px rgba(0, 0, 0, 0.25);
}

.user-profile-pic img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-sizing: border-box;
  object-fit: cover;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
}

.user-name {
  margin-left: 20px;
}

.user-name h4 {
  font-size: 24px;
  font-family: var(--primary-font);
  font-weight: var(--semibold);
  color: var(--black);
  text-transform: capitalize;
}

.user-name p {
  font-size: 14px;
  font-family: var(--primary-font);
  color: var(--black);
  font-weight: var(--regular);
  text-transform: capitalize;
  color: var(--text-color);
}

.chat-list-option {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.chat-list-option svg {
  fill: var(--theme-color);
  cursor: pointer;
}

/* message box  */

.chat-scroll {
  overflow-y: auto;
  padding: 20px;
  width: 95%;
  height: 580px;
}

/* message left css start */

.message-left {
  text-align: left;
}

.message-left .message-left-text {
  background-color: #f1f1f1;
  padding: 15px;
  display: inline-block;
  max-width: 60%;
  border-radius: 10px;
  position: relative;
  margin-left: 10px;
  margin-top: 20px;
}

.message-left .message-left-text::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 20px 15px;
  border-color: transparent transparent #f1f1f1 transparent;
  border-bottom-left-radius: 30%;
  bottom: 0;
  left: -10px;
}

.sender-name {
  margin-left: 10px;
  margin-bottom: -10px;
  margin-top: 10px;
}

.sender-name p {
  max-width: 60%;
  color: var(--black);
  font-family: var(--primary-font);
  font-size: 12px;
  font-weight: var(--regular);
}

.message-left .message-left-text p {
  color: var(--black);
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: var(--regular);
}

.message-left .message-left-text img {
  width: 400px;
  border-radius: 10px;
}

.message-left .message-left-text audio {
  width: 400px;
  border-radius: 10px;
}

.message-left .message-left-text video {
  width: 400px;
  border-radius: 10px;
}

.message-left .message-left-time {
  margin-top: 7px;
}

.message-left .message-left-time p {
  color: rgba(0, 0, 0, 0.25);
  font-family: var(--primary-font);
  font-size: 12px;
  font-weight: var(--medium);
}

/* message left css end */

/* message right css start */

.message-right {
  text-align: right;
}

.message-right .message-right-text {
  background-color: #5f35f5;
  text-align: left;
  padding: 13px 25px;
  display: inline-block;
  max-width: 60%;
  border-radius: 10px;
  position: relative;
  margin-left: 10px;
  margin-top: 20px;
}

.message-right .message-right-text::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 20px 15px;
  border-color: transparent transparent #5f35f5 transparent;
  border-bottom-right-radius: 30%;
  bottom: 0;
  right: -10px;
}

.message-right .message-right-text p {
  color: var(--white);
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: var(--regular);
}

.message-right .message-right-text img {
  width: 400px;
  border-radius: 10px;
}

.message-right .message-right-text audio {
  width: 400px;
  border-radius: 10px;
}

.message-right .message-right-text video {
  width: 400px;
  border-radius: 10px;
}

.message-right .message-right-time {
  margin-top: 7px;
}

.message-right .message-right-time p {
  color: rgba(0, 0, 0, 0.25);
  font-family: var(--primary-font);
  font-size: 12px;
  font-weight: var(--medium);
}

/* message right css end */

/* chat input area css start */

.chat-input-area {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.chat-input {
  width: 91%;
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.chat-input input {
  width: 70%;
  height: 100%;
  background-color: #f1f1f1;
  font-family: var(--primary-font);
  font-size: 14px;
  padding: 5px;
  outline: none;
  border: none;
}

.speed-dial-icon {
  position: absolute;
  bottom: 5px;
  right: 10px;
}

.chat-send-button {
  width: 6%;
}

.send-button {
  background-color: var(--theme-color) !important;
  padding: 15px !important;
}

.send-button svg {
  width: 25px;
  height: 25px;
}

.chat-files {
  width: 10%;
}

.add-files {
  width: 40px;
  height: 40px;
  background-color: #fff;
  box-shadow: 0 2px 5px #bebebe;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.add-files-area {
  position: absolute;
  top: -200px;
  left: 50%;
  width: 80px;
  height: 200px;
  background-color: #f1f1f1;
  transform: translateX(-50%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: auto;
}

.emoji-chat {
  width: 40px;
  height: 40px;
  background-color: #fff;
  box-shadow: 0 2px 5px #bebebe;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.emoji-picker {
  position: absolute;
  top: -465px;
  right: 0;
}

.add-gallery {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #fff;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.camera-capture {
  cursor: pointer;
}

.add-gallery:last-child {
  border-bottom: none;
}

.add-gallery svg {
  width: 25px;
  height: 25px;
}

.open-audio-canvas {
  cursor: pointer;
  padding: 5px;
}

/* Camera css start */
.open-camera {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.camera-close {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;
}
/* Camera css end */

.add-gallery label {
  cursor: pointer;
}

/* audio record css start */
.audio-recorded audio {
  width: 80%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.audio-recorder {
  background-color: #fff;
  box-shadow: 0 2px 5px #bebebe;
  border-radius: 20px;
  box-sizing: border-box;
  color: #000;
  width: 40px;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in;
  -webkit-tap-highlight-color: transparent;
}

.recording {
  border-radius: 12px;
  width: 80%;
  height: 100%;
  transition: all 0.2s ease-out;
  position: absolute;
  top: 0;
  left: 0;
}

.recording-button {
  background-color: #fff !important;
}

.recording-button svg {
  fill: red !important;
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.audio-send-area {
  display: flex;
}

.audio-delete-btn {
  width: 40px;
  height: 40px;
  background-color: #fff;
  box-shadow: 0 2px 5px #bebebe;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.audio-send-btn {
  width: 40px;
  height: 40px;
  background-color: #fff;
  box-shadow: 0 2px 5px #bebebe;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
}

.audio-loading-btn {
  width: 40px;
  height: 40px;
  background-color: #fff;
  box-shadow: 0 2px 5px #bebebe;
  border-radius: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

/* audio record css end */

/* chat input area css end  */
