.profile-pic-modal-style {
  position: absolute;
  top: 50% !important;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px !important;
  background-color: #fff;
  outline: none;
  border: 2px solid #46414179;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 24px;
}
