.sidebar-wrapper {
  width: 100%;
  height: 100vh;
  background-color: var(--theme-color);
  border-radius: 0 20px 20px 0;
  overflow: auto;
}

.profile-section {
  height: 20%;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  box-sizing: border-box;
}

.profile-pic {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.profile-pic img {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid var(--theme-text-color);
  padding: 2px;
  background-color: var(--link-color);
  box-sizing: border-box;
}

.page-section {
  height: 60%;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  box-sizing: border-box;
  margin-top: 20px;
}

.sidebar-icons {
  text-align: center;
}

.page-icon {
  text-align: center;
  padding: 30px 0;
  position: relative;
  z-index: 1;
  cursor: pointer;
  box-sizing: border-box;
}

.page-icon::after {
  z-index: -1;
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 0;
  height: 90%;
  background-color: var(--white);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  opacity: 0;
  transition: all linear 0.3s;
}

.page-icon::before {
  z-index: 1;
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 0;
  height: 90%;
  background-color: var(--theme-color);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  opacity: 0;
  transition: all linear 0.3s;
}

.page-icon:hover::after {
  opacity: 1;
  width: 85%;
}

.page-icon:hover::before {
  opacity: 1;
  width: 8px;
}

.page-icon:hover svg {
  fill: var(--theme-color);
  stroke: var(--theme-color);
  opacity: 100%;
}

.page-icon svg {
  fill: var(--theme-text-color);
  stroke: var(--theme-text-color);
  stroke-width: 0;
  width: 50px !important;
  height: 50px !important;
  opacity: 70%;
}

.logout-section {
  width: 100%;
  height: 20%;
  text-align: center;
  box-sizing: border-box;
  margin-top: 30px;
}

.logout-icon svg {
  fill: var(--theme-text-color);
  stroke: var(--theme-text-color);
  stroke-width: 0;
  width: 50px !important;
  height: 50px !important;
}

.logout-icon {
  text-align: center;
  padding: 30px 0;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  cursor: pointer;
  margin: auto;
}

.logout-icon::after {
  z-index: -1;
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 0;
  height: 90%;
  background-color: var(--white);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  opacity: 0;
  transition: all linear 0.3s;
}

.logout-icon::before {
  z-index: 1;
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 0;
  height: 90%;
  background-color: var(--theme-color);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  opacity: 0;
  transition: all linear 0.3s;
}

.logout-icon:hover::after {
  opacity: 1;
  width: 85%;
}

.logout-icon:hover::before {
  opacity: 1;
  width: 8px;
}

.logout-icon:hover svg {
  fill: var(--theme-color);
  stroke: var(--theme-color);
  opacity: 100%;
}
