.root-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.root-wrapper:last-child {
  border-bottom: none;
}

.root-images {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.root-item-pic {
  width: 70px;
  height: 70px;
}

.root-item-pic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.root-item-name {
  width: 50%;
  margin-left: 20px;
}

.root-item-name h5 {
  font-size: 18px;
  text-transform: capitalize;
  font-weight: var(--bold);
  color: var(--black);
}

.root-item-name p {
  font-size: 18px;
  color: rgba(77, 77, 77, 0.75);
  font-size: 14px;
  font-weight: var(--regular);
}

.root-item-time {
  padding: 10px;
}

.root-item-time p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  font-weight: var(--regular);
}

.mygroups-item-button {
  padding: 10px;
}

.mygroups-item-button button {
  width: 100%;
  background-color: var(--theme-color);
  color: var(--theme-text-color);
  font-weight: var(--bold);
  font-size: 14px;
}

.mygroups-item-button button:hover {
  background-color: var(--theme-color);
  color: var(--theme-text-color);
}
