.mygroups-wrapper {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 20px;
  box-sizing: border-box;
}

.mygroups-list-header {
  padding: 1px 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mygroups-list-header h4 {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: var(--bold);
  color: var(--black);
}

.create-group {
  margin-right: 30px;
}

.mygroups-list-option {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 6px;
}

.mygroups-list-option svg {
  fill: var(--theme-color);
  cursor: pointer;
}

.mygroups-wrapper-scroll {
  width: 100%;
  height: 380px;
  margin-top: 20px;
  overflow: auto;
  padding-right: 10px;
}

.mygroups-wrapper-scroll::-webkit-scrollbar {
  width: 8px;
}

.mygroups-wrapper-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(211, 210, 210);
  border-radius: 10px;
}

.mygroups-wrapper-scroll::-webkit-scrollbar-thumb {
  background: #5f35f5;
  border-radius: 10px;
}

.mygroups-wrapper-scroll::-webkit-scrollbar-thumb:hover {
  background: #33169c;
}

.mygroups-item-wraper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.mygroups-item-wraper:last-child {
  border-bottom: none;
}

.mygroups-item-pic {
  width: 70px;
  height: 70px;
}

.mygroups-item-pic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.mygroups-item-name {
  width: 50%;
  margin-left: 20px;
}

.mygroups-item-name h5 {
  font-size: 18px;
  text-transform: capitalize;
  font-weight: var(--bold);
  color: var(--black);
}

.mygroups-item-name p {
  font-size: 18px;
  color: rgba(77, 77, 77, 0.75);
  font-size: 14px;
  font-weight: var(--regular);
}

.mygroups-item-button {
  padding: 10px;
}

.mygroups-item-button button {
  width: 100%;
  background-color: var(--theme-color);
  color: var(--theme-text-color);
  font-weight: var(--bold);
  font-size: 14px;
}

.mygroups-item-button button:hover {
  background-color: var(--theme-color);
  color: var(--theme-text-color);
}

.field {
  margin-top: 20px !important;
  width: 100% !important;
}

.mygroups-submit-btn {
  width: 100%;
  background-color: var(--theme-color) !important;
  color: var(--theme-text-color) !important;
  margin-top: 20px !important;
}

.mygroups-submit-btn:hover {
  background-color: var(--theme-color) !important;
  color: var(--theme-text-color) !important;
}

.members-btn button {
  width: 100%;
  background-color: var(--theme-color) !important;
  color: var(--theme-text-color) !important;
  margin-top: 20px !important;
}

.members-btn button:hover {
  background-color: var(--theme-color) !important;
  color: var(--theme-text-color) !important;
}

.empty-message {
  text-align: center;
}

.members-btn {
  position: relative;
}

.member-bedge {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--theme-color);
  font-size: 10px;
  bottom: -5px;
  right: -5px;
}

.request-btn {
  margin-top: 5px !important;
}

.request-btn {
  position: relative;
}

.req-bedge {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--theme-color);
  font-size: 10px;
  bottom: -5px;
  right: -5px;
}
